<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Reservation Confirmation</title>
</head>
<body>
        <h1>Reservation Confirmed</h1>
        <p>Thank you for your reservation!</p>
        <p>Name: ${reservation.user.name}</p>
        <p>Number of People: ${reservation.numberOfPeople}</p>
        <p>Date & Time: ${reservation.reservationTime}</p>
        <p>Special Request: ${reservation.specialRequest}</p>
        <p>Pre-Order Food: ${reservation.preOrderFood}</p>
        <p>Status: ${reservation.status}</p>
</body>
</html>
