<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{layout::link-css}"></th:block>
    <th:block th:replace="~{layout::custom-css}"></th:block>
    <title>Edit Dining Table</title>
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
<div class="container my-4">
    <div class="container">
        <h1>Edit Dining Table</h1>
        <form th:action="@{/tables/edit}" th:object="${diningTable}" method="post" enctype="multipart/form-data">
            <input type="hidden" th:field="*{id}">

            <div class="col-6 mb-3">
                <label class="form-label" for="tableNumber">Table Number:</label>
                <input class="form-control" type="number" th:field="*{tableNumber}" id="tableNumber">
                <span class="text-danger" th:if="${#fields.hasErrors('tableNumber')}" th:errors="*{tableNumber}"></span>
            </div>

            <div class="col-6 mb-3">
                <label class="form-label" for="capacity">Capacity:</label>
                <input class="form-control" type="number" th:field="*{capacity}" id="capacity">
                <span class="text-danger" th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}"></span>
            </div>

            <div class="col-6 mb-3">
                <label class="form-label" for="locationDescription">Location Description:</label>
                <input class="form-control" type="text" th:field="*{locationDescription}" id="locationDescription">
                <span class="text-danger" th:if="${#fields.hasErrors('locationDescription')}" th:errors="*{locationDescription}"></span>
            </div>

            <div class="col-6 mb-3">
                <label class="form-label" for="imageFile">Image:</label>
                <input class="form-control" type="file" th:field="*{imageFile}" id="imageFile" accept="image/*">
                <span class="text-danger" th:if="${#fields.hasErrors('imageFile')}" th:errors="*{imageFile}"></span>
            </div>

            <input class="btn btn-primary" type="submit" value="Save">
        </form>
        <br>
        <a th:href="@{/tables}">Back to List</a>
    </div>
</div>

<th:block th:replace="~{layout::footer}"></th:block>
</body>
</html>
